/* decendent sel. */
section em{
    color: aqua;
}
/* child sel. */
article > ol > li{
    background-color: blue;
}
/* adjacent sibling   + sign for adjacent siblings   top to bottom and left to right */
/* div ul h1{} */
div > ul > h1 + li{
    color : red
}

/* general sibling */
div > ul > h1 ~ li{
    color : red
}
